<h2 id='title_{{name}}'>
  {{name}}
</h2>
<table class="table table-striped" id='table_{{name}}' border=1>
  <thead>
    <tr>
      {{'table_head' | forEachPropertyType}}
    </tr>
  </thead>

  <tbody>  
    {{'table_line' | forEachEntity}}
  </tbody>  
  
</table>