<div class="panel panel-info">
  <div class="panel-heading"><strong>Customer CRUD</strong></div>

	<table class="table" id='table_{{name}}'>
	  <thead>
	    <tr>
	      {{'table_head' | forEachPropertyType}}
	      <td colspan="2" class="text-center">Actions</td>
	    </tr>
	  </thead>
	
	  <tbody>  
	    {{'table_line' | forEachEntity}}
	  </tbody>  
	  
	</table>
	
	<button type="submit" class="btn btn-raised btn-info" id='button_new_{{name}}' {{'creation_form' | newPageForEntityType}}>Create new {{name}}</button>
</div>