<table id='table_{{name}}' border=1>
  <thead>
    <tr>
      {{'table_head' | forEachPropertyType}}
      <td colspan="2">Actions</td>
    </tr>
  </thead>

  <tbody>  
    {{'table_line' | forEachEntity}}
  </tbody>  
  
</table>

<button id='button_new_{{name}}' {{'creation_form' | newPageForEntityType}}>Create new {{name}}</button>